<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>A-plus LMS course editor</title>

    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}style/styles.css" />
    <!-- jQuery File Tree CSS -->
    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}filetree/css/jqueryFileTree.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}bootstrap/css/bootstrap.min.css" />
    <!-- markItUp! skin -->
    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}markitup/skins/markitup/style.css" />
    <!--  markItUp! toolbar skin -->
    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}markitup/sets/default/style.css" />

    <!-- jQuery -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}jquery/jquery-3.4.0.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}bootstrap/js/bootstrap.min.js"></script>

    <!-- File Tree javascript -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}filetree/js/jquery.easing.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}filetree/js/jqueryFileTree.js"></script>
    <!-- markItUp! -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}markitup/jquery.markitup.js"></script>
    <!-- markItUp! toolbar settings -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}markitup/sets/default/set.js"></script>
    <!-- Plussa GUI modules and setup script -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/file-manager/file-manager.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/file-tree-generator/file-tree-generator.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/gitlab-rest/gitlab-rest.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/plussa-gui-setup.js"></script>
  </head>
  <body>
    <!-- Header container-->
    <div class="container-fluid" id="topContainer">
      <div class="row">
        <div class="col-12">
          <div class="row titlebar">
            <h1 class="page-header">A-plus LMS course editor</h1>
          </div>
          <div id="plussaGuiReport" style="display:none;font-size:14px;width:200px;height:100px;background-color:white;border:1px solid gray;padding:14px;position:fixed;z-index:1000;border-radius:10px;"></div>
        </div>
      </div>
    </div>
    <!-- Credentials container -->
    <div class="container-fluid">
      <div class="row">
          <div class="col-12" id="download">
            <form>
              <input type="text" id="userId" placeholder="User Id" />
              <input type="text" id="privateToken" placeholder="Private Token" />
              <button type="button" class="btn btn-primary" id="plussaGuiLoadProjectsBtn">Load Projects</button>
            </form>
          </div>
        </div>
      </div>
    <!-- Two columns container -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-3 bluebg">
          <div id="fileTree"></div>
        </div>
        <div class="col-9" id="editor">
          <div class="row">
            <div class="col mt-2" id="buttons">
              <button type="button" class="btn btn-primary" id="plussaGuiSaveFileBtn">Save File</button>
              <button type="button" id="plussaGuiNewFileBtn" class="btn btn-primary">New File</button>
              <button type="button" class="btn btn-primary" id="plussaGuiDeleteFileBtn">Delete File</button>
              <button type="button" class="btn btn-primary btn-right" id="plussaGuiPreviewBtn">HTML Preview</button>
              <div class="collapse" id="plussaGuiNewFilePanel" style="font-size:14px;">
                <div style="padding:15px;">
                  <span style="font-weight:bold;">New File: </span><span id="plussaGuiTargetProject" style="text-decoration:underline;"></span>
                  <span id="plussaGuiNewFilePath" style="display: inline;"></span>&nbsp;&sol;&nbsp;
                  <input type="text" id="plussaGuiPathInput" style="display: inline;width:200px;" />
                  <button title="Add new folder to the path" type="button" id="plussaGuiAddFolderBtn"><img src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/images/folder-add-icon.png" class="img-fluid" alt="Responsive image"></button>
                  <button type="button" class="btn btn-primary" id="plussaGuiSaveNewFileBtn">Save</button>
                  <button id="plussaGuiCancelBtn" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#plussaGuiNewFilePanel">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id="plussaGuiBreadCrumb" style="font-size:14px;margin-top:5px;">
                <span style="font-weight:bold;">File: </span><span id="plussaGuiProjectName" style="text-decoration:underline;"></span>&nbsp;
                <span id="plussaGuiFilePath"></span>
              </div>
              <textarea id="markItUp" rows="15" name="rst" form="save_as_pdf"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col container-fluid">
          <!--iframe id="browse"></iframe-->
        </div>
      </div>
    </div>
  </body>
</html>
