{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <!-- markItUp! skin -->
    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}markitup/skins/markitup/style.css" />
    <!--  markItUp! toolbar skin -->
    <link rel="stylesheet" href="{{ request.script_root }}{{ MEDIA_URL }}markitup/sets/default/style.css" />
    <!-- markItUp! -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}markitup/jquery.markitup.js"></script>
    <!-- markItUp! toolbar settings -->
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}markitup/sets/default/set.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/file-manager/file-manager.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/gitlab-rest/gitlab-rest.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/html-preview/html-preview.js"></script>
    <script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}plussa-gui/plussa-gui-setup.js"></script>

    <!--script type="text/javascript" src="{{ request.script_root }}{{ MEDIA_URL }}scripts/editor.js"></script-->

<!--script type="text/javascript">
    var js_params = {{ js_params|tojson|safe }};
	$(function() {
	    if (js_params.theme) {
            reactForTheme(js_params.theme)
	    }

	    if (location.hash) {
            reactForRst(getDecodedHash())
	    }
	});

</script-->

{% endblock %}


{% block content %}
<div class="b_page_cont">
    <div class="b_page_left">
      <div id="fileTree"></div>
        <!--textarea id="editor" rows="15" name="rst" form="save_as_pdf">{{ rst }}</textarea-->
    </div>
    <div class="b_page_right">
        <textarea id="markItUp" rows="15" name="rst" form="save_as_pdf">{{ rst }}</textarea>
	    <!--iframe src="{{ request.script_root }}/srv/rst2html/" id="browse"></iframe-->
    </div>
</div>

{% endblock %}
